/*
 * Test configuration for FRAGPIPE_EXPORT subworkflow tests
 */

process {
    cpus   = 2
    memory = 8.GB
    time   = 1.h

    withName: 'SKYLINE' {
        ext.args = ''
    }

    withName: 'SAINTEXPRESS' {
        ext.args = ''
    }

    withName: 'FPOP' {
        ext.args = ''
    }

    withName: 'METAPROTEOMICS' {
        ext.args = ''
    }
}

params {
    outdir = 'results'
    publish_dir_mode = 'copy'
}
