/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for FRAGPIPE_DATABASE subworkflow
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    withName: '.*FRAGPIPE_DATABASE.*:PHILOSOPHER_DATABASE' {
        ext.args = '--reviewed --contam'
        publishDir = [
            path: { "${params.outdir}/fragpipe/database" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

params {
    outdir = './results'
    publish_dir_mode = 'copy'
}
