/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for FRAGPIPE_CONVERT subworkflow
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    withName: '.*FRAGPIPE_CONVERT.*:THERMORAWFILEPARSER' {
        container = 'quay.io/biocontainers/thermorawfileparser:1.4.5--h05cac1d_1'
        ext.args = '-f 2'  // Output mzML format
        publishDir = [
            path: { "${params.outdir}/fragpipe/mzml" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*FRAGPIPE_CONVERT.*:DIAUMPIRE' {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/fragpipe/diaumpire" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*FRAGPIPE_CONVERT.*:DIATRACER' {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/fragpipe/diatracer" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

params {
    outdir = './results'
    publish_dir_mode = 'copy'
}
