/*
 * Configuration for FRAGPIPE_VALIDATE subworkflow
 *
 * Includes: PERCOLATOR, PEPTIDEPROPHET, PTMPROPHET
 */

process {
    withName: 'PERCOLATOR' {
        cpus   = { 4 * task.attempt }
        memory = { 16.GB * task.attempt }
        time   = { 2.h * task.attempt }
    }

    withName: 'PEPTIDEPROPHET' {
        cpus   = { 4 * task.attempt }
        memory = { 16.GB * task.attempt }
        time   = { 2.h * task.attempt }
    }

    withName: 'PTMPROPHET' {
        cpus   = { 4 * task.attempt }
        memory = { 8.GB * task.attempt }
        time   = { 1.h * task.attempt }
    }
}

params {
    outdir = 'results'
    publish_dir_mode = 'copy'
}
