/*
 * Test configuration for INPUT_CHECK subworkflow tests
 */

process {
    cpus   = 1
    memory = 2.GB
    time   = 1.h
}

params {
    outdir = 'results'
    publish_dir_mode = 'copy'
    skip_ms_validation = true
    skip_factor_validation = true
    skip_experimental_design_validation = true
    use_ols_cache_only = false
    validate_ontologies = false
}
