/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for TMT label check workflow tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Uses FragPipe TMT labeling efficiency check with small dataset.

    Use as follows:
        nextflow run nf-core/msproteomics -profile test_tmt,docker --outdir <OUTDIR>

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    config_profile_name        = 'TMT label check test profile'
    config_profile_description = 'TMT label check workflow test with small dataset'

    mode           = 'fragpipe'
    tmt_mode       = 'labelcheck'
    input          = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/msproteomics/samplesheets/test_tmt.csv'
    database       = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/msproteomics/databases/erwinia_carotovora.fasta'
    organism       = 'erwinia_carotovora'
    outdir         = 'results'
}
