/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for TMT quantification workflow tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Uses FragPipe TMT quantification with small dataset.

    Use as follows:
        nextflow run nf-core/msproteomics -profile test_tmtq,docker --outdir <OUTDIR>

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    config_profile_name        = 'TMT quantification test profile'
    config_profile_description = 'TMT quantification workflow test with small dataset'

    mode           = 'fragpipe'
    tmt_mode       = 'quant'
    input          = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/msproteomics/samplesheets/test_tmtq.csv'
    database       = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/msproteomics/databases/human_sp_subset.fasta'
    organism       = 'homo_sapiens'
    outdir         = 'results'
}
