/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for TMT quantification workflow tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Uses FragPipe TMT quantification on two TMT6 Erwinia plexes (PRIDE PXD000001).
    Requires --fragpipe_container (licensed FragPipe image).

    Use as follows:
        nextflow run nf-core/msproteomics -profile test_tmtq,docker --outdir <OUTDIR>

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    config_profile_name        = 'TMT quantification test profile'
    config_profile_description = 'TMT quantification workflow test with small dataset'

    mode           = 'fragpipe'
    tmt_mode       = 'quant'
    input          = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/msproteomics/samplesheets/test_tmtq.csv'
    database       = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/msproteomics/databases/erwinia_carotovora.fasta'
    organism       = 'erwinia_carotovora'
    fragpipe_workflow = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/msproteomics/workflows/TMT6.workflow'
    outdir         = 'results'
}
