/*
 * Instrument config: Bruker timsTOF Flex (FLX)
 *
 * Include via: -c conf/instruments/bruker_flex.config
 */

params {
    diann_min_pr_mz        = 100
    diann_max_pr_mz        = 1700
    diann_min_fr_mz        = 100
    diann_max_fr_mz        = 1700
    diann_library_mass_acc = 15
    diann_library_ms1_acc  = 15
}
