/*
 * Instrument config: Bruker timsTOF Flex (FLX)
 *
 * Optimized DIA-NN parameters for Bruker timsTOF Flex mass spectrometer.
 * The wider m/z range (100-1700) reflects the timsTOF's broader scan window.
 * Higher mass accuracy values (15 ppm) account for timsTOF's typical mass precision.
 *
 * Include via: -c conf/instruments/bruker_flex.config
 *
 * Parameters:
 *   diann_min_pr_mz / diann_max_pr_mz  - Precursor m/z range for in-silico library generation.
 *                                          Set to match your DIA method's precursor isolation window.
 *   diann_min_fr_mz / diann_max_fr_mz  - Fragment m/z range for in-silico library generation.
 *                                          Set to match your MS2 scan range.
 *   diann_library_mass_acc             - MS2 mass accuracy (ppm) for library generation.
 *   diann_library_ms1_acc              - MS1 mass accuracy (ppm) for library generation.
 *
 * To add a new instrument config:
 *   1. Copy this file to conf/instruments/your_instrument.config
 *   2. Adjust m/z ranges to match your DIA method's scan windows
 *   3. Set mass accuracy based on your instrument's specifications
 *   4. Include with: -c conf/instruments/your_instrument.config
 */

params {
    diann_min_pr_mz        = 100
    diann_max_pr_mz        = 1700
    diann_min_fr_mz        = 100
    diann_max_fr_mz        = 1700
    diann_library_mass_acc = 15
    diann_library_ms1_acc  = 15
}
