/*
 * Instrument config: Thermo Ascend (ASC)
 *
 * Include via: -c conf/instruments/thermo_ascend.config
 *
 * These are the default values already set in dia_base.config,
 * so this config is only needed for explicit documentation.
 */

params {
    diann_min_pr_mz        = 350
    diann_max_pr_mz        = 1050
    diann_min_fr_mz        = 200
    diann_max_fr_mz        = 1800
    diann_library_mass_acc = 18
    diann_library_ms1_acc  = 5
}
