/*
 * Test configuration for PHILOSOPHER_DATABASE module
 */

includeConfig '../../../../../tests/config/test_data.config'

process {
    withName: 'PHILOSOPHER_DATABASE' {
        container = 'docker.io/fcyucn/fragpipe:24.0'
    }
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}
