/*
========================================================================================
    Reference Proteomes Configuration
========================================================================================
    UniProt reference proteomes (Swiss-Prot reviewed + isoforms).
    These do NOT include contaminant sequences. For FragPipe workflows,
    contaminants are added automatically by Philosopher's database command.
    For DIA-NN workflows, append contaminants to your FASTA manually or
    use --database with a pre-prepared database that includes contaminants.
    Override with --database to provide your own FASTA file.
========================================================================================
*/

params {
    proteomes_base = 'https://rest.uniprot.org/uniprotkb/stream?format=fasta&includeIsoform=true&query=(reviewed:true)+AND+(proteome:'

    proteomes {
        'homo_sapiens' {
            proteome_id = 'UP000005640'
            taxon_id    = 9606
            fasta       = "${params.proteomes_base}UP000005640)"
        }
        'mus_musculus' {
            proteome_id = 'UP000000589'
            taxon_id    = 10090
            fasta       = "${params.proteomes_base}UP000000589)"
        }
        'rattus_norvegicus' {
            proteome_id = 'UP000002494'
            taxon_id    = 10116
            fasta       = "${params.proteomes_base}UP000002494)"
        }
        'saccharomyces_cerevisiae' {
            proteome_id = 'UP000002311'
            taxon_id    = 559292
            fasta       = "${params.proteomes_base}UP000002311)"
        }
        'danio_rerio' {
            proteome_id = 'UP000000437'
            taxon_id    = 7955
            fasta       = "${params.proteomes_base}UP000000437)"
        }
        'drosophila_melanogaster' {
            proteome_id = 'UP000000803'
            taxon_id    = 7227
            fasta       = "${params.proteomes_base}UP000000803)"
        }
        'caenorhabditis_elegans' {
            proteome_id = 'UP000001940'
            taxon_id    = 6239
            fasta       = "${params.proteomes_base}UP000001940)"
        }
        'escherichia_coli' {
            proteome_id = 'UP000000625'
            taxon_id    = 83333
            fasta       = "${params.proteomes_base}UP000000625)"
        }
    }
}
