/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test:
    a DIA-NN library-free search of one CPTAC DIA subset (spectra/dia_cptac_subset.mzML)
    against a 1,000-entry human SwissProt subset, with fast search params
    (charge 2-3, no missed cleavages, no variable mods).

    Use as follows:
        nextflow run nf-core/msproteomics -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
    cpus   = 2
    memory = '6.GB'
    time   = '1.h'
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    test_mode = true

    // Input data (absolute URLs: tests/nextflow.config redefines pipelines_testdata_base_path)
    mode     = 'diann'
    input    = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/msproteomics/samplesheets/test_dia.csv'
    database = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/msproteomics/databases/human_sp_subset.fasta'
    organism = 'homo_sapiens'

    // Fast DIA-NN search for a 5-min FAIMS gradient
    diann_min_pr_mz          = 350
    diann_max_pr_mz          = 950
    min_peptide_length       = 7
    max_peptide_length       = 25
    min_precursor_charge     = 2
    max_precursor_charge     = 3
    allowed_missed_cleavages = 0
    max_mods                 = 0
    diann_performance_mode   = true
    diann_quick_mass_acc     = true
    skip_post_msstats        = true
}
