/*
 * Test configuration for FRAGPIPE_QUANT subworkflow tests
 */

process {
    cpus   = 2
    memory = 8.GB
    time   = 1.h

    withName: 'IONQUANT' {
        ext.args = ''
    }

    withName: 'TMTINTEGRATOR' {
        ext.args = ''
    }

    withName: 'FREEQUANT' {
        ext.args = ''
    }
}

params {
    outdir = 'results'
    publish_dir_mode = 'copy'
}
