/*
 * Configuration for FRAGPIPE_INFERENCE subworkflow
 *
 * Includes: PROTEINPROPHET, PHILOSOPHER_FILTER
 */

process {
    withName: 'PROTEINPROPHET' {
        cpus   = { 8 * task.attempt }
        memory = { 32.GB * task.attempt }
        time   = { 4.h * task.attempt }
    }

    withName: 'PHILOSOPHER_FILTER' {
        cpus   = { 4 * task.attempt }
        memory = { 16.GB * task.attempt }
        time   = { 2.h * task.attempt }
    }
}

params {
    outdir = 'results'
    publish_dir_mode = 'copy'
}
