params {
    allowed_missed_cleavages = 2
    min_precursor_charge     = 2
    max_precursor_charge     = 4
    max_mods                 = 3
    is_phospho_data          = true
}

process {
    withLabel: 'process_low' {
        cpus   = { 8      * 2 ** (task.attempt - 1) }
        memory = { 122.GB * 2 ** (task.attempt - 1) }
        time   = { 8.h    * task.attempt             }
    }
    withLabel: 'process_medium' {
        cpus   = { 16      * 2 ** (task.attempt - 1) }
        memory = { 245.GB  * 2 ** (task.attempt - 1) }
        time   = { 8.h     * task.attempt             }
    }
    withLabel: 'process_high' {
        cpus   = { 32      * 2 ** (task.attempt - 1) }
        memory = { 490.GB  * 2 ** (task.attempt - 1) }
        time   = { 8.h     * task.attempt             }
    }
}
