/*
 * Test configuration for FRAGPIPE_SEARCH subworkflow tests
 */

process {
    cpus   = 2
    memory = 8.GB
    time   = 1.h

    withName: 'MSFRAGGER' {
        ext.args = '--precursor_mass_tolerance 20 --fragment_mass_tolerance 20'
        ext.agree_fragpipe_license_agreement = true
    }

    withName: 'MSBOOSTER' {
        ext.args = '--predictRT true --predictSpectra true'
    }

    withName: 'CRYSTALC' {
        ext.args = ''
    }

    withName: 'MSFRAGGER_CALIBRATE' {
        ext.agree_fragpipe_license_agreement = true
    }

    withName: 'MSFRAGGER_INDEX' {
        ext.agree_fragpipe_license_agreement = true
    }

    withName: 'MERGE_SPLIT_SEARCH' {
        ext.agree_fragpipe_license_agreement = true
    }
}

params {
    outdir = 'results'
    publish_dir_mode = 'copy'
}
