/*
 * Test configuration for FRAGPIPE_INFERENCE subworkflow tests
 */

process {
    cpus   = 2
    memory = 8.GB
    time   = 1.h

    withName: 'PROTEINPROPHET' {
        ext.args = ''
    }

    withName: 'PHILOSOPHER_FILTER' {
        ext.args = ''
    }
}

params {
    outdir = 'results'
    publish_dir_mode = 'copy'
}
