/*
 * Configuration for FRAGPIPE_QUANT subworkflow
 *
 * Includes: IONQUANT, TMTINTEGRATOR, FREEQUANT
 */

process {
    withName: 'IONQUANT' {
        cpus   = { 8 * task.attempt }
        memory = { 32.GB * task.attempt }
        time   = { 4.h * task.attempt }
    }

    withName: 'TMTINTEGRATOR' {
        cpus   = { 4 * task.attempt }
        memory = { 32.GB * task.attempt }
        time   = { 2.h * task.attempt }
    }

    withName: 'FREEQUANT' {
        cpus   = { 4 * task.attempt }
        memory = { 16.GB * task.attempt }
        time   = { 1.h * task.attempt }
    }
}

params {
    outdir = 'results'
    publish_dir_mode = 'copy'
}
