/*
 * Config for modules/local/fragpipe_headless/tests/main.nf.test.
 *
 * The manifest tests run the REAL script: block without the licensed FragPipe image:
 * no container engine, and a fake `java` (fake_fragpipe/bin/java) first on PATH.
 * params.fake_fragpipe_dir is set by each test (absolute path to fake_fragpipe/).
 */

docker.enabled      = false
singularity.enabled = false
conda.enabled       = false

process {
    withName: 'FRAGPIPE_HEADLESS' {
        beforeScript = "export PATH=${params.fake_fragpipe_dir}/bin:\$PATH"
        ext.fragpipe_tools_dir = "${params.fake_fragpipe_dir}/tools"
    }
}
