/*
 * Test configuration for FRAGPIPE_VALIDATE subworkflow tests
 */

process {
    cpus   = 2
    memory = 8.GB
    time   = 1.h

    withName: 'PERCOLATOR' {
        ext.args = ''
    }

    withName: 'PEPTIDEPROPHET' {
        ext.args = ''
    }

    withName: 'PTMPROPHET' {
        ext.args = ''
    }
}

params {
    outdir = 'results'
    publish_dir_mode = 'copy'
}
