/*
 * Configuration for FRAGPIPE_PTM subworkflow
 *
 * Includes: PTMSHEPHERD
 */

process {
    withName: 'PTMSHEPHERD' {
        cpus   = { 8 * task.attempt }
        memory = { 32.GB * task.attempt }
        time   = { 4.h * task.attempt }
    }
}

params {
    outdir = 'results'
    publish_dir_mode = 'copy'
}
