/*
 * Test configuration for TMT_LABELCHECK subworkflow tests
 * This config provides basic settings without loading quantms configs
 */

process {
    // Default resources for tests
    cpus   = 2
    memory = 8.GB
    time   = 1.h

    withName: 'THERMORAWFILEPARSER' {
        container = 'quay.io/biocontainers/thermorawfileparser:1.4.5--h05cac1d_1'
        ext.args = '--format 1'
    }
}

params {
    outdir = 'results'
    publish_dir_mode = 'copy'
}
