/*
 * Test configuration for FRAGPIPE_HEADLESS_WF subworkflow tests
 */

process {
    cpus   = 2
    memory = 8.GB
    time   = 1.h

    withName: 'THERMORAWFILEPARSER' {
        container = 'quay.io/biocontainers/thermorawfileparser:1.4.5--h05cac1d_1'
        ext.args = '-f 2'
    }

    withName: 'FRAGPIPE_HEADLESS' {
        container = 'docker.io/fcyucn/fragpipe:24.0'
    }
}

params {
    outdir = 'results'
    publish_dir_mode = 'copy'
}
