/*
 * Test configuration for FILE_PREPARATION subworkflow tests
 */

process {
    cpus   = 1
    memory = 2.GB
    time   = 1.h

    withName: 'THERMORAWFILEPARSER' {
        container = 'quay.io/biocontainers/thermorawfileparser:1.4.5--h05cac1d_1'
        ext.args = '--format 1'
    }
}

params {
    outdir = 'results'
    publish_dir_mode = 'copy'
    reindex_mzml = false
    convert_dotd = false
    openms_peakpicking = false
}
